doctype
html(lang="fr")
	head
		meta(name='viewport', content='width=device-width, user-scalable=no')
		title Memory - #{title}
		meta(name='description', content= description) 
		meta(name='keywords', content= keywords)
		link(rel='stylesheet', href='/css/home.css')
		link(rel='stylesheet' media='(orientation: landscape)', href='/css/landscape/home.css')
		link(rel='stylesheet' media='(orientation: portrait)', href='/css/portrait/home.css')
		script(type="text/javascript", src="/js/home.js")
	body
		h1 Memory
		h2 Cette page n'existe pas
		a(href="/") aller à l'accueil 